<app-navbar [links]="[{ruta: 'home', texto: 'Home'}, {ruta: 'crear-evento', texto: 'Crear evento'}]"></app-navbar>

<div class="container-fluid">
    
    <!-- Breadcrumbs -->
    <div class="row mt-4">
        <div class="col">Home | Empleados | Detalle empleado</div>
    </div>
    
    <!-- Botón para ir atrás -->
    <div class="mt-4">
        <button type="button" [routerLink]="['/empleados']" class="btn btn-secondary btn-sm"> {{btn_atras}} </button>
    </div>

    <!-- Título del formulario -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>Detalle empleado</h1>
        </div>
    </div>

    <!-- Formulario para agregar un empleado -->
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <form class="mt-4">

                
                <div class="row">
                    <!-- Campo Nombre -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.nombre" id="nombre" disabled>
                    </div>

                    <div class="mb-3 col-12 col-md-6">
                        <!-- Campo Apellido -->
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.apellido" id="apellido" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <!-- Campo Documento -->
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.documento" placeholder="Ingrese su documento" id="dni" disabled>
                    </div>

                    <div class="mb-3 col-12 col-md-6">
                        <!-- Campo Fecha de Nacimiento -->
                        <label for="fechaDeNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.fecha_nacimiento" id="fechaDeNacimiento" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <!-- Campo Cargo -->
                        <label for="cargo" class="form-label">Cargo</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.categoria" id="fechaDeNacimiento" disabled>
                    </div>
                    
                    <div class="mb-3 col-12 col-md-6">
                        <!-- Campo Email -->
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" [value]="empleadoObtenido?.email" disabled>
                    </div>
                </div>

                <div class="row">
                    <!-- Campo horario de trabajo -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="horario" class="form-label">Hora de entrada</label>
                        <input type="horario" class="form-control" id="horario" [value]="empleadoObtenido?.hora_entrada" disabled>
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label for="horario" class="form-label">Hora de salida</label>
                        <input type="horario" class="form-control" id="horario" [value]="empleadoObtenido?.hora_salida" disabled>
                    </div>
                </div>
                <div class="mb-3 col">
                    <!-- Campo Modalidad de trabajo -->
                    <label for="modalidad" class="form-label">Modalidad de Trabajo</label>
                    <input type="modalidad" class="form-control" id="email" [value]="empleadoObtenido?.modalidad_trabajo" disabled>
                </div>
                @if (empleadoObtenido?.activo) {
                    <div class="mb-3 col">
                        <label for="horario" class="form-label">Estatus en la empresa</label>
                        <textarea type="horario" class="estatusEmpleado form-control" id="horario" [value]="empleado_activo" disabled></textarea>
                    </div>
                }@else {
                    <div class=" mb-3 col">
                        <label for="horario" class="form-label">Estatus en la empresa</label>
                        <textarea type="horario" class="estatusEmpleado form-control" id="horario" [value]="empleado_inactivo" disabled></textarea>
                        <p class="notaEstatus"> Nota: La inactivacion de un empleado pueden deberse a licencias o desvinculación total de la empresa.</p>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
