.bg-empleado{
    background-color: #1eb4e6;;
}

.bg-empleado:hover{
    background-color: #1eb4e6;
    border: 0;
}

.btn {
    transition: transform 0.2s ease;
}

/* Efecto de clic */
.btn:active {
    transform: scale(0.95);
}