<app-navbar
    [links]="[{ruta: 'home', texto: 'Home'}, {ruta: 'eventos', texto: 'Eventos'}, {ruta: 'empleados', texto: 'Empleados'}]"></app-navbar>


<div class="container-fluid">
    <!-- Breadcrumbs -->
    <div class="row mt-4">
        <div class="col">Home | Empleados | Modificar Empleado</div>
    </div>

    <!-- Botón para ir atrás -->
    <div class="mt-4">
        <button type="button" [routerLink]="['/empleados']" class="btn btn-secondary btn-sm"> {{btn_atras}} </button>
    </div>

    <!-- Título del formulario -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>Modificar empleado</h1>
        </div>
    </div>

<!-- Formulario para agregar un empleado -->
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <form [formGroup]="empleadoEditado" (ngSubmit)="editarEmpleado($event)"  class="mt-4">
                <div class="row">

                    <!-- Campo Nombre -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" formControlName="nombre" [value]="empleado?.nombre" class="form-control" placeholder="Nombre" id="nombre">
                        
                        @if (tieneErrores('nombre', 'required')) 
                        {  
                            <div class="alert alert-danger" role="alert">
                            El nombre es un campo obligatorio.
                            </div>
                        }
                    </div>

                    <!-- Campo Apellido -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" formControlName="apellido" [value]="empleado?.apellido" class="form-control" id="apellido" placeholder="Apellido">
                        
                        @if (tieneErrores('apellido', 'required')) 
                        {
                            <div class="alert alert-danger" role="alert">
                                El apellido es un campo obligatorio.
                            </div>
                        }
                    </div>
               
                </div>

                <div class="row">

                    <!-- Campo Documento -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" formControlName="documento" [value]="empleado?.documento" class="form-control" id="dni" placeholder="Ingrese su documento">
                        
                        @if (tieneErrores('documento', 'required')) 
                        {
                            <div class="alert alert-danger" role="alert">
                                El documento es un campo obligatorio.
                            </div>
                        }
                    </div>

                    <!-- Campo Fecha de Nacimiento -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="fechaDeNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" formControlName="fecha_nacimiento" class="form-control" id="fechaDeNacimiento" [value]="empleado?.fecha_nacimiento">
                        
                        @if (tieneErrores('fecha_nacimiento', 'required')) 
                        {
                            <div class="alert alert-danger" role="alert">
                                La fecha de nacimiento es un campo obligatorio.
                            </div>
                        }
                    </div>

                </div>

                <div class="row">

                    <!-- Campo Cargo -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="cargo" class="form-label">Cargo</label>
                        <select class="form-select" formControlName="categoria" id="cargo">
                            <option [value]="empleado?.categoria" selected>{{ empleado?.categoria }}</option>
                            @for (categoria of categoriasFiltradas; track categoriasFiltradas.length) {
                                <option [value]="categoria">{{ categoria }}</option>
                            }
                            
                        </select>
                        @if (tieneErrores('categoria', 'required')) 
                        {
                            <div class="alert alert-danger" role="alert">
                                Debe seleccionar algún cargo.
                            </div>
                        } 
                    </div>

                    <!-- Campo Email -->
                    <div class="mb-3 col-12 col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" [value]="empleado?.email" id="email" >
                        @if (tieneErrores('email', 'required')) 
                        {
                        <div class="alert alert-danger" role="alert">
                            El campo email es requerido
                        </div>
                        }

                        @if (tieneErrores('email', 'email')) 
                        {
                        <div class="alert alert-danger" role="alert">
                            Debe ingresar un email válido.
                        </div>
                        }
                    </div>
                </div>

                <!-- Campo Modalidad de trabajo -->
                <p>Modalidad de trabajo</p>     
                <div class="form-check mb-3 ">
                    <input class="form-check-input" name="modalidad_trabajo" id="Presencial" type="radio" value="Presencial" [value]="empleado?.modalidad_trabajo" formControlName="modalidad_trabajo">
                    <label class="form-check-label" for="Presencial">
                        Presencial
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" name="modalidad_trabajo" id="Remoto" type="radio" value="Remoto" formControlName="modalidad_trabajo" >
                    <label class="form-check-label"  for="Remoto">
                        Remoto
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" name="modalidad_trabajo" id="Mixto" type="radio" value="Mixto" formControlName="modalidad_trabajo" >
                    <label class="form-check-label"  for="Mixto">
                        Mixto
                    </label>
                </div>
            
                <!-- Campo horario de trabajo -->
                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <label for="horario" class="form-label">Hora de entrada</label>
                        <input type="time" class="form-control" id="horario" formControlName="hora_entrada" [value]="empleado?.hora_entrada" >
                        @if (tieneErrores('hora_entrada', 'required')) 
                            {
                                <div class="alert alert-danger" role="alert">
                                    Debe ingresar el horario laboral de entrada.
                                </div>
                            }
                        </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label for="horario" class="form-label">Hora de salida</label>
                        <input type="time" class="form-control" id="horario" [value]="empleado?.hora_salida" formControlName="hora_salida" >
                        @if (tieneErrores('hora_salida', 'required')) 
                            {
                                <div class="alert alert-danger" role="alert">
                                    Debe ingresar el horario laboral de salida.
                                </div>
                            }
                    </div>
                </div>
                
                <!-- Botones de cancelar y aceptar -->
                <div class="row">
                    <div class="text-center mt-3 col-6">
                        <div class="d-grid gap-2">
                            <button class="btn btn-danger bg-button  border-0" type="button" [routerLink]="['/empleados']">Cancelar</button>
                        </div>
                    </div>
                    <div class="text-center mt-3 col-6">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary bg-button bg-empleado border-0" type="submit">Modificar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>