<app-navbar></app-navbar>

<div class="container-fluid d-flex justify-content-center align-items-center mt-3 mt-sm-5">
    <div class="row text-center w-100 mt-3 mt-sm-5 mb-4">
        
        <div class="col-12 col-md-4 flex-grow-1">
            <button id="btnAgregarEventos" [routerLink]="['/crear-evento']" title="Agregar un evento.">
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>

        <div class="col-12 col-md-4 flex-grow-1">
            <button id="btnEventos" [routerLink]="['/eventos']" title="Ver eventos.">
                <i class="bi bi-calendar2-week-fill"></i>
            </button>
        </div>

        <div class="col-12 col-md-4 flex-grow-1">
            <button id="btnEmpleados" [routerLink]="['/empleados']" title="Ver empleados.">
                <i class="bi bi-person-standing"></i>
            </button>
        </div>

    </div>
</div>