<app-navbar [links]="[{ruta: 'home', texto: 'Home'}, {ruta: 'crear-evento', texto: 'Crear evento'}]"></app-navbar>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-6 col-md-3">Home | Empleados</div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>Empleados</h1>
        </div>
    </div>

    <!-- <div class="row mt-4">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                        type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Nuevo
                        Profesional</button>
                </li>
                <li>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="ID" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="text" class="form-control" placeholder="Apellido" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorias
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">categoria1</a></li>
                            <li><a class="dropdown-item" href="#">categoria2</a></li>
                            <li><a class="dropdown-item" href="#">categoria3</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->
    <div class="row mt-4">
        <div class="col-6 align-content-center">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." aria-label="buscador"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-bg-hover" type="button" id="button-addon2"><i
                        class="bi bi-search"></i></button>
            </div>
        </div>
        <div class="col-2 align-content-center text-start">
            <button type="button" class="btn btn-primary btn-sm bg-navbar border-0"><i
                    class="bi bi-funnel-fill"></i></button>
        </div>
        <div class="col-4 align-content-center text-end">
            <button type="button" [routerLink]="['/agregar-empleado']"  class="btn btn-primary btn-sm bg-navbar border-0"><i
                    class="bi bi-plus-circle"></i>
                Agregar empleado</button>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 centrar">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            @for (empleado of empleados; track empleado.id){
                <tbody>
                    <tr>
                        <th scope="row">{{empleado.id}}</th>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.categoria}}</td>
                        <td>{{empleado.activo}}</td>
                        <td>
                            <div class="col-6 centrar">
                                <button type="button" class="btn btn-primary btn-sm bg-success border-0"
                                    style="margin-right: 4px;" [routerLink]="['/empleados', empleado.id]"><i class="bi bi-eye"></i></button>

                                <button type="button" class="btn btn-primary btn-sm bg-primary border-0"
                                    style="margin-right: 4px;"[routerLink]="['/editEmpleadoComponent', empleado.id]"><i class="bi bi-pen"></i></button>

                                <button type="button" class="btn btn-primary btn-sm bg-danger border-0"
                                    style="margin-right: 4px;"><i class="bi bi-trash3"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

<app-footer></app-footer>