<app-navbar [links]="[{ruta: 'home', texto: 'Home'}, {ruta: 'crear-evento', texto: 'Crear evento'}]"></app-navbar>

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-6 col-md-3">Home | Empleados</div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>Empleados</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 align-content-center">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." aria-label="buscador"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-bg-hover" type="button" id="button-addon2"><i
                        class="bi bi-search"></i></button>
            </div>
        </div>
        <div class="col-2 align-content-center text-start">
            <button type="button" class="btn btn-primary btn-sm bg-navbar border-0"><i
                    class="bi bi-funnel-fill"></i></button>
        </div>
        <div class="col-4 align-content-center text-end">
            <button type="button" [routerLink]="['/agregar-empleado']"  class="btn btn-primary btn-sm bg-navbar border-0"><i
                    class="bi bi-plus-circle"></i>
                Agregar empleado</button>
        </div>
    </div>

    <div class="row mt-5 centrar">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                @for (empleado of empleados; track empleado.id){
                    <tbody>
                        <tr>
                            <th scope="row">{{empleado.id}}</th>
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.apellido}}</td>
                            <td>{{empleado.categoria}}</td>
                            @if (empleado.activo == true) 
                            {
                                <td>Activo</td>
                            }
                            @else 
                            {
                                <td>Inactivo</td>
                            }
                            
                            <td>
                                <div class="col-6 centrar">
                                    <button type="button" class="btn btn-primary btn-sm bg-success mb-2 mb-lg-0 border-0"
                                        style="margin-right: 4px;" [routerLink]="['/empleados', empleado.id]"><i class="bi bi-eye"></i></button>
    
                                    <button type="button" class="btn btn-primary btn-sm bg-primary mb-2 mb-lg-0 border-0"
                                        style="margin-right: 4px;" [routerLink]="['/editar-empleado', empleado.id]" ><i class="bi bi-pen"></i></button>
                                    <button type="button" class="btn btn-primary btn-sm bg-danger border-0"
                                        style="margin-right: 4px;" (click)="borrar(empleado.id)"><i class="bi bi-trash3"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>