.bg-button {
    background-color: #1eb4e6;
}

.bg-button:hover {
    background-color: #1b85a9;
    border: 0;
}

.btn {
    transition: transform 0.2s ease;
}

/* Efecto de clic */
.btn:active {
    transform: scale(0.95);
}