.bg-eventos {
    background-color: #1eb4e6;
}

.btn-bg-hover:hover {
    background-color: #1eb4e6;
    border: 0;
}

.btn {
    transition: transform 0.2s ease;
}

.btn:active {
    transform: scale(0.95);
}