<app-navbar [links]="[{ruta: 'home', texto: 'Home'}, {ruta: 'empleados', texto: 'Empleados'}, {ruta: 'eventos', texto: 'Eventos'}]"></app-navbar>

<div class="container-fluid mt-4">

    <!-- Breadcrumbs -->
    <div class="row mt-4">
        <div class="col">Home | Eventos | Detalle evento</div>
    </div>

    <!-- Botón para ir atrás -->
    <div class="mt-4">
        <button type="button" [routerLink]="['/eventos']" class="btn btn-secondary btn-sm"> {{btn_atras}} </button>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-10 col-md-6">
            @if (evento) {
            <!-- Titulo del evento -->
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="card-title">{{evento.titulo}}</h1>
                </div>
            </div>

            <!-- Card del evento -->
            <div class="col mt-4">
                <div class="card">
                    <!-- Imagen del evento -->
                    <img [src]="evento.imagenUrl" class="card-img-top" alt="Imagen del evento">

                    <!-- Descripcion del evento -->
                    <div class="card-body">
                        <p class="card-text">{{evento.descripcion}}</p>
                    </div>

                    <div class="card-footer">
                        <div class="row">

                            <!-- Fecha y Horario del evento -->
                            <div class="col-6">
                                <small class="text-body-secondary">
                                    <i class="bi bi-calendar2-week"></i> {{evento.fecha}}
                                    <br>
                                    <i class="bi bi-alarm"></i> {{evento.horario}}
                                </small>
                            </div>

                            <!-- Ubicacion del evento -->
                            <div class="col-6 text-end align-content-center">
                                <i class="bi bi-geo-alt"></i> {{evento.ubicacion}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<app-footer></app-footer>