<div class="contenedor">
    <div class="contenedor-izquierdo centrar flex-grow-1 col-12 col-md-4">

        <h2 style="margin-bottom: 30px;">Log In</h2>

        <form [formGroup]="formLogin">
            <div>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" title="Ej.: tunombre@ejemplo.com">
                @if(formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
                    <div style="color: red; display: flex; margin-bottom: 5px;">{{ darMensajeError('email') }}</div>
                }
            </div>

            <div style="width: 250px; display: flex; align-items: center;">
                <input [type]="ocultarPassword ? 'password' : 'text'" formControlName="password" placeholder="Contraseña"
                class="form-control" style="width: 225px;" title="Mínimo 8 carácteres. Máximo 50.">
                <button id="btnPassword" type="button" (click)="cambiarVisibilidad($event)" class="centrar">
                    <i [class]="ocultarPassword? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" 
                        [title]="ocultarPassword? 'Ver la contraseña.' : 'Ocultar la contraseña.'">
                    </i>
                </button>
            </div>
            
            @if(formLogin.get('password')?.invalid && formLogin.get('password')?.touched) {
                <div style="color: red; display: flex;">{{ darMensajeError('password') }}</div>
            }
            
            <button id="btnLogin" (click)="login($event)" [disabled]="formLogin.invalid"
                class="btn btn-primary bg-button border-0">
                Login                 
            </button>
        </form><br><br>

        <a data-bs-toggle="modal" data-bs-target="#noProgramado">
            ¿Olvidaste tu contraseña?
        </a><br>

        <div class="modal fade" id="noProgramado" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Informe</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">No se programó esta función por acuerdo del grupo.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <p>¿Quieres registrarte?
            <a data-bs-toggle="modal" data-bs-target="#noProgramado"> Creá una cuenta</a>
        </p><br><br>
        
        <img src="../../assets/icon/icon.jpg" style="width: 100px; height: 100px;">
    </div>
    
    <div class="contenedor-derecho flex-grow-1 col-12 col-md-4 d-none d-md-block">
      <img src="../../assets/login/fondo2.jpg" class="fondo-login">
    </div>
</div>