.bg-navbar {
    background-color: #1eb4e6;
}

#btnLogout {
    background-color: rgb(230, 40, 40); 
    border-color: rgb(230, 40, 40);
}

#btnLogout:hover {
    background-color: red;
    border-color: red;
}