<app-navbar [links]="[{ruta: 'home', texto: 'Home'}, {ruta: 'crear-evento', texto: 'Crear evento'}]"></app-navbar>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-6 col-md-3">Home | Detalle empleado</div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>Detalle empleado</h1>
        </div>
    </div>

<!-- Formulario para agregar un empleado -->
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <form class="mt-4">
                <div class="row">
                    <div class="mb-3 col">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.nombre" id="nombre" >
                        
                    </div>

                    <div class="mb-3 col">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.apellido" id="apellido" >
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.documento" placeholder="Ingrese su documento" id="dni" >
                    </div>

                    <div class="mb-3 col">
                        <label for="fechaDeNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" [value]="empleadoObtenido?.fecha_nacimiento" id="fechaDeNacimiento" >
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col">
                        <label for="cargo" class="form-label">Cargo</label>
                        <input type="text" class="form-control" [value]="empleadoObtenido?.categoria" id="fechaDeNacimiento" >
                    </div>
                    
                    <div class="mb-3 col">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" [value]="empleadoObtenido?.email" >
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label for="modalidad" class="form-label">Modalidad de Trabajo</label>
                        <input type="modalidad" class="form-control" id="email" [value]="empleadoObtenido?.modalidadTrabajo" >
                    </div>

                    <div class="mb-3 col">
                        <label for="horario" class="form-label">Horario de trabajo</label>
                        <input type="horario" class="form-control" id="horario" [value]="empleadoObtenido?.horario" >
                    </div>
                </div>
                @if (empleadoObtenido?.activo) {
                    <div class="mb-3 col">
                        <label for="horario" class="form-label">Estatus del empleado</label>
                        <input type="horario" class="form-control" id="horario" placeholder="El empleado actualmente está activo en la compañía." >
                    </div>
                }@else {
                    <div class="mb-3 col">
                        <label for="horario" class="form-label">Estatus</label>
                        <input type="horario" class="form-control" id="horario" placeholder="El empleado actualmente no está activo en la compañia. Dicha inactividad puede deberse a licencias o desvinculación de la empresa." disabled>
                    </div>
                }


                <div class="text-center">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary bg-button border-0" type="submit">Guardar</button>
                    </div>
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary bg-button bg-danger border-0" type="submit">Cancelar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
